.cart{
    position: sticky;
    top: 0;
    margin: 15px; 
}
.my-info{
    background-color: #c4c7c6;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid slateblue;

}
.exercise-info{
    margin-top: 30px;
}