.club-container{
    background-color: rgb(238 231 231);
}
.club-info{
    margin-top: 60px;
    margin-left: 20px;
}
.club-info h2{
    color: blueviolet;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.club-info h4{
    padding: 15px 0;
}
.cart-container{
    background-color: rgb(227 229 238);
}
.blog-info{
    border: 1px solid silver;
    margin: 10px;
    padding: 20px 10px;
}