.info{
    height: 500px;
    position: relative;
    margin: 0;
}
.btn-cart{
    width: 90%;
    position: absolute;
    bottom: 5px;
    border: none;
    height: 50px;
}
.btn-cart:hover{
    background-color: aqua;
    transition: .6s;
}